#d2{background-color: #ffffff;}
.hide{display: none;}

.img-carousel-map {
  width: 303px;
}

}
.btn-warning{
  color: #fff;
  background-color: #E26E2D;;
  border-color: #E26E2D;;

}
.btn-warning {

}
