#d2{background-color: #ffffff;}
.hide{display: none;}

.img-carousel-map {
  width: 303px;
}
.btn-orange-formulaire {
  border-radius: 50px;
  font-style: normal;
  text-align: center;
  margin: 8px;
  width: 200px;
  height: 40px;
  text-align: center;
  color: #FC9D00;
  bottom: 11.41%;

  background: #E26E2D;
}

.btn-orange-formulaire:hover {
  color: white;
  opacity: 0.7;
}

.btn-primary {
  border-radius: 50px;
  font-style: normal;
  text-align: center;
  margin: 8px;
  width: 200px;
  height: 40px;
  text-align: center;
  color: #FC9D00;
  bottom: 11.41%;

}
