.explorer-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

  .card {
    height: 170px;

    .card-infos {
      font-size: 10px;
      width: 100px;
    }

    .card-infos p {
      font-size: 13px;
      border-radius: 1px;
      margin: 0 auto;
      text-align: center;
      padding: 5px 5px;
    }
  }
}

.explore-form {
  display: flex;
  width: 100%;
}

.explore {
  .nav-link.active {
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  }
  .nav-link {
    color: lightgrey;
    font-size: 20px;
  }
}
