<h4> Mes conversations </h4>



<% @chatrooms.each do |chatroom|  %>
        <div class="mt-4 p-0">
          <%= link_to chatroom_path(chatroom.id) , class:"card-link grid-item" do %>
            <div class="d-flex w-100">
              <div class="photo-card position-relative" style="width: 39%; text-align: center;">
                <h2 id="rank" class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -85%);  z-index: 10; color: white;">  </h2>
                <%= cl_image_tag User.find(chatroom.recipient_id).avatar.key, style:"filter: brightness(80%)" %>
              </div>
              <div class="w-75 content justify-content-center pl-3 pr-2">
                <div class="pb-2" id="trip-title"><%= "#{User.find(chatroom.recipient_id).pseudo}" %>
                </div>
                <div id="trip-dates" class="">
                  <%= "#{chatroom.messages.last.content}" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    <% end %>



