<% if trip.user != current_user %>
  <div id="fav-btn-<%= step.id %>">
    <% if favorite.present?%>
      <%= render "favorites/unlikebutton", favorite: favorite %>
    <% else %>
      <%= render "favorites/likebutton", step: step %>
    <% end %>
  </div>
<% end %>

