<% if trip.user != current_user %>
  <div class="fav-btn">
    <% if @favorite.present?%>
      <%= render "favorites/unlikebutton" %>
    <% else %>
      <%= render "favorites/likebutton", step_id: @step.id %>
    <% end %>
  </div>
<% end %>

