<div class="navbar">
  <div class="row">
    <div class="col-xs-12">
      <nav>
        <div class="icone-action"> <i class="fas fa-globe-americas icones"></i> <p class="d-none d-sm-block">Explorer</p></div>
        <div class="icone-action"> <i class="far fa-heart"></i> <p class="d-none d-sm-block"> Enregistrés </p> </div>
         <%= link_to write_path do%>
        <div class="icone-action"> <i class="far fa-edit"></i> <p class="d-none d-sm-block">Ecrire</p></div>
        <% end %>
        <div class="icone-action"> <i class="far fa-comment-alt"></i> <p class="d-none d-sm-block">Messages</p></div>
         <%= link_to profile_path do%>
        <div class="icone-action"> <i class="far fa-user"></i> <p class="d-none d-sm-block"> Profil </p> </div>
      <% end %>
      </nav>
     </div>
  </div>
</div>
