<div class="homepage-new">
  <div class="d-flex justify-content-end">
    <%= link_to "Connexion", profile_path, class: "btn btn-grey-connexion-new" %>
    <a href="#" class="btn btn-grey-inscription-new">Inscription</a>
  </div>
  <div>
    <br>
    <h1 class="logo-big-new">TripsMap</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class= "text-center">
      <h2 class="white tagline-new">Ramenez vos souvenirs de vacances à la vie</h2>
    </div>
    <br>
    <br>
    <div class= "text-center">
      <p class= "white-new">Créez et revivez vos souvenirs de vacances en quelques clics !</p>
    </div>
    <br>
    <br>
    <div class="text-center">
      <a href="/profile" class="btn btn-orange-new">Commencer</a>
    </div>
  </div>
</div>

<!-- Deuxième partie (les cards)-->

<!-- <div id="ajoutsrecents" class="carousel slide carousel-multi-item" data-ride="carousel" data-keyboard="false">

 <ol class="carousel-indicators">
  <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
  <li data-target="#multi-item-example" data-slide-to="1"></li>

  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class= "row">
      <div class="col-12 col-sm-4">
        <div class="card">
          <img class="card-img-top"
          src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">L'Amérique du Sud en 18 jours</h4>
            <p class="card-text">.....</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="card">
          <img class="card-img-top"
          src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Une semaine de rêve aux Bahamas</h4>
            <p class="card-text"> .......</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class= "row">
      <div class="col-12 col-sm-4">
        <div class="card">
          <img class="card-img-top"
          src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">L'Amérique du Sud en 18 jours</h4>
            <p class="card-text">......</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>

</div> -->
<!-- position-relative" ligne 33-->
