<!-- <strong><span style="font-size: 1.5rem"><%= @followers.count %></span></strong> abonnés -->

<button type="button" class="access-followers-button" data-toggle="modal" data-target="#exampleModalCenter">
  <strong><span style="font-size: 1.5rem;"><%= @followers.count %></span></strong> abonnés
</button>
