<div class="explore">
  <ul class="mt-4 nav nav-pills nav-fill" id="bookingsTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="upcomingTab" data-toggle="tab" href="#upcomingContent" role="tab" aria-controls="upcomingContent" aria-selected="true"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pastTab" data-toggle="tab" href="#pastContent" role="tab" aria-controls="pastContent" aria-selected="true"><i class="fas fa-search"></i></a>
    </li>
  </ul>

  <div class="tab-content" id="contentTab">
    <div class="tab-pane fade show active" id="upcomingContent" role="tabpanel" aria-labelledby="upcomingTab">
      <p>Hello</p>
    </div>

    <div class="tab-pane fade show" id="pastContent" role="tabpanel" aria-labelledby="pastTab">

      <%= render 'shared/explore_search_form' %>

      <div class="explorer-cards">
        <%= render 'steps', steps: @steps %>
      </div>

    </div>
  </div>
</div>

