<div class="explore">
  <ul class="mt-4 nav nav-pills nav-fill" id="bookingsTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="upcomingTab" data-toggle="tab" href="#upcomingContent" role="tab" aria-controls="upcomingContent" aria-selected="true"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pastTab" data-toggle="tab" href="#pastContent" role="tab" aria-controls="pastContent" aria-selected="true"><i class="fas fa-search"></i></a>
    </li>
  </ul>

  <div class="tab-content" id="contentTab">
    <div class="tab-pane fade show active" id="upcomingContent" role="tabpanel" aria-labelledby="upcomingTab">
      <h6 class="mt-5 mb-4">Ce mois-ci</h6>
      <% if current_user.subscriptions_steps == [] %>
        <p class="p-0">Vous n'avez pas encore d'abonnement.</p>
      <% else %>
        <% current_user.subscriptions_steps.sort_by(&:created_at).reverse!.each do |step|  %>
          <% if step.created_at.strftime("%B") == Date.today.strftime("%B") %>
            <%= render 'notif', step: step %>
          <% end %>
        <% end %>
      <% end %>
      <h6 class="mt-5 mb-4">Plus tôt</h6>
      <% if current_user.subscriptions_steps == [] %>
        <p class="p-0">Vous n'avez pas encore d'abonnement.</p>
      <% else %>
        <% current_user.subscriptions_steps.sort_by(&:created_at).reverse!.each do |step|  %>
          <% if step.created_at.strftime("%B") != Date.today.strftime("%B") %>
            <%= render 'notif', step: step %>
          <% end %>
        <% end %>
      <% end %>

    </div>

    <div class="tab-pane fade show" id="pastContent" role="tabpanel" aria-labelledby="pastTab">

      <%= render 'shared/explore_search_form' %>

      <div class="explorer-cards">
        <%= render 'steps', steps: @steps %>
      </div>

    </div>
  </div>
</div>

