<div id="creerunvoyage">
  <div class="text-center">
    <h2 class="trip-title"><%= @trip.title%></h2>
    <h5 class="trip-dates"><%= l(@trip.starts_on, format: '%e %b %Y', locale: 'fr') %> - <%= l(@trip.ends_on, format: '%e %b %Y', locale: 'fr') %></h5>
  </div>
</div>
<br>
<div id="formnew">
  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">Donnez un titre à votre étape</label>
      <input type="text-muted" class="form-control" id="formGroupExampleInput" placeholder="Queenstown la majestueuse" style="text-align: center">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Lieu de l'étape:</label>
      <input type="text-muted" class="form-control" id="place-address" placeholder="Queenstown" style="text-align: center">
    </div>
    <div class="form-group d-flex align-items-center justify-content-center my-4">
      <label class="mr-3 mb-0" for="tentacles">Durée:</label>
      <input type="number" type="text-muted" class="form-control" id="tentacles" name="tentacles" placeholder="---" style="width: 70px; text-align: center;"
     min="1" max="1000" style="width: 100px;">
      <label class="ml-3 mb-0 mr-3">jours</label>
   </div>
  </form>
</div>

 <!-- </div> -->
<!-- imagemap
 -->
</div>
<div class="step-map mt-3 mb-2 text-center">
  <img src="https://res.cloudinary.com/datbhgbcq/image/upload/v1593180337/TRIPSMAP/image_1_qmxanz.png" alt="">
</div>

<div class="container">

  <p class="text-muted my-4"> Cliquez sur + pour ajouter du texte, des photos ou des vidéos.</p>

<div class="dropdown">
  <button class="btn btn-warning d-block mx-auto mb-3" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"> + </button>
<div class="d-flex align-items-center justify-content-center">
  <div class="">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <a class="dropdown-item" href="#"><span class="far fa-image"></i></span> Photos </a>
    </div>
  </div>
  <div class="">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <a class="dropdown-item" href="#"><span class="far fa-edit"></i></span> Text </a>
    </div>
  </div>
  <div class="">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <a class="dropdown-item" href="#"><span class="far fa-pause-circle"></i></span> Vidéos</a>
    </div>
  </div>
</div>
</div>

<br>
<div class="text-center">
  <a href="#" class="btn btn-warning" style="width: 150px;">Poster</a>
</div>
<br>

</div>


    <!-- <div class="form-group">
      <label for="selection">Durée:</label>
      <select id="selection" class="form-control">
        <option value="">jours...</option>
        <option value=""> 1 </option>
        <option value=""> 2 </option>
        <option value=""> 3 </option>
        <option value=""> 4 </option>
        <option value=""> 5 </option>
        <option value=""> 6 </option>
        <option value=""> 7 </option>
        <option value=""> 8 </option>
        <option value=""> 9 </option>
        <option value=""> 10 </option>
        <option value=""> 11 </option>
        <option value=""> 12 </option>
        <option value=""> 13 </option>
        <option value=""> 14 </option>
        <option value=""> 15 </option>
        <option value=""> 16 </option>
        <option value=""> 17 </option>
        <option value=""> 18 </option>
        <option value=""> 19 </option>
        <option value=""> 20 </option>
      </optgroup>
    </select>
  </div> -->
