.btn-orange-new {
  background: #E26E2D;
  border-radius: 50px;
  font-style: normal;
  text-align: center;
  margin: 8px;
  min-width: 200px;
  min-height: 40px;
  text-align: center;
  color: #FFFFFF;
}

.btn-orange-new:hover {
  color: white;
  opacity: 0.7;
}

.btn {
  border-radius: 5px;
}

.smaller-btn{

.btn-orange-new{
  min-width: 100px;
}
}

.access-followers-button {
  background-color: #fff;
  border: 0px solid #fff;
  padding: 0px !important;
  font-family: 'Open Sans', sans-serif;
}

.close {
  font-size: 3rem !important;
}
