body {
  background-color: #fff;
  color: rgba(0,0,0,0.8);
}

p {
  padding: 0px 1rem;
  // color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  margin-top: 1rem;
}

h5 {
  font-size: 1.5rem;
  // color: rgba(0, 0, 0, 0.8);
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  // color: rgba(0, 0, 0, 0.8);
}

.text-center {
  text-align: center;
}

.trip-infos-data {
  font-size: 1.05rem;
}

.trip-infos-data p {
  font-size: 1.05rem;
  color: rgba(0, 0, 0, 0.8);
}

.profile-map {
  width: 100%;
}

.post-it {
  position: relative;
}

.post-it-text {
  position: absolute;
  top: -10px;
}

.post-it > img {
  max-width: 375px !important;
}

.note-style {
  // text-decoration: underline;
  // text-underline-position: under;
}

.note-style > u {
  // color: #rgba(0, 0, 0, 0.8);
}


.step-text-background {
  background-image: url('https://res.cloudinary.com/datbhgbcq/image/upload/v1594461543/TRIPSMAP/Screenshot_from_2020-07-11_11-58-37_caijox.png');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}
