.explorer-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

  .card {
  height: 170px;

  .card-infos{
    font-size: 8px;
    width: 100px;
  }

  .card-infos p {
  font-size: 11px;
  line-height: 1px;
  border-radius: 1px;
}
}

}

.fixed-bottom{
  position: absolute;
  bottom: 0;
  border-radius: 5px;
}

.explore-form{
  display: flex;
  width: 75%
}
