.pictures {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 2;
  -webkit-column-gap:   0px;
  -moz-column-count:    2;
  -moz-column-gap:      0px;
  column-count:         2;
  column-gap:           4px;
}

.pictures img, .row img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: 140px !important;
  margin: 2px;
  object-fit: cover;
}

.picture-big {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 1;
  -webkit-column-gap:   0px;
  -moz-column-count:    1;
  -moz-column-gap:      0px;
  column-count:         1;
  column-gap:           4px;
}

.picture-big img {
  width: 100% !important;
  height: 200px !important;
  margin: 2px;
  object-fit: cover;
}
