.navbar {
  nav{

    background-color: #FFFFFF ;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(231, 215, 215, 0.65);
    padding: 12px;
    margin-top: 8px;

  }
}

nav a:hover{
  color: rgba(226, 110, 45, 0.67);
}
nav .active {
  color: rgba(226, 110, 45, 0.67);
}

.orange-hover{
  color: rgba(226, 110, 45, 0.67);
}

.icone-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #6D6875;
  .far, .fas{
  font-size: 25px;
  // height: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  }
}

.icone-action-big {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #6D6875;
  .far, .fas{
  font-size: 32px;
  // height: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  }
}

.icone-action .far {
  &:hover {
    @extend .fas;

  }
}

.icone-action :hover {
   color: rgba(226, 110, 45, 0.67);
}

.fa-globe-americas:hover{
  color: grey;
}
