.container-index{
  padding: 0px 25px;
  padding-top: 35px;
}


.card-index {
  border: 1px solid #eaeaea;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
  margin-bottom: 15px;
  width: 345px;
  height: 89px;
  border-radius: 5px;
  text-align : center;

}

.new-trip{
  background-color: #E26E2D;
}

.content {

  background-color: #fff;
  border: 1px solid #eaeaea;
  color: #202020;
  text-decoration: none;
  text-align: center
}
